.venv/
__pycache__/
*.py[cod]
.ipynb_checkpoints/

pseudopotentials/siesta/*.psml
pseudopotentials/qe/*.UPF
pseudopotentials/qe/*.upf

results/raw/
results/logs/
archive/
benchmark/run/
benchmark/executed/

*.DM
*.HSX
*.WFSX
*.TSHS
*.hdf5
*.save/
*.cube
*.grid.nc

slurm-*.out
slurm-*.err
